<style>
    footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #4c1711;
    }
    footer .col{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    footer .col:last-child {
      align-items: flex-end;
     
    }
    footer p{
      font-size: 13px;
      color:#fff;
      margin:0 0 8px 0;
      text-align: right;
    }
    .left-align {
    font-size: 13px;
    color:#fff;
    margin:0 0 8px 0;
    text-align: left;
  }
  </style>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="left-align">&copy; 2023 OneMoreChapter.com. Tous droits réservés.</p> 
            </div>

            <div class="col-md-6">
                <p>&copy; Aix Marseille Universite.</p>
                
            </div>
        </div>
    </div>
</footer>
